{% extends "layout.html" %}

{% block title %}
    留学指导
{% endblock %}


{% block main %}
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
       <h2 class="w3-wide">留学指导</h2>
       <p class="w3-opacity"><i>2020-2021</i></p>
       <p class="w3-justify">马来西亚公立大学</p>
       <div class="w3-row w3-padding-32">
         <div class="w3-third">
           <p><a href="program_list/1_welcome_letter.html">Welcome Letter from Campus2Campus Edu Tour Team</a></p>
           <img src="https://raw.githubusercontent.com/my-educations/images-edu/master/program/welcome_letter.jpg" class="w3-round w3-margin-bottom" alt="Morning" style="width:80%">
         </div>
         <div class="w3-third">
           <p><a href="program_list/2_campus2campus_tour.html">Campus2Campus Educational Tour - Round 1</a></p>
           <img src="https://raw.githubusercontent.com/my-educations/images-edu/master/program/campus2campus.jpg" class="w3-round w3-margin-bottom" alt="Afternoon" style="width:80%">
         </div>
         <div class="w3-third">
           <p>To be announced</p>
           <img src="https://raw.githubusercontent.com/my-educations/images-edu/master/program/logo.jpg" class="w3-round" alt="Evening" style="width:80%">
         </div>
       </div>
   </div>
{% endblock %}
