.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
 .jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;


body {
    font-family: "Lato", sans-serif
}

.about-h3 {
    text-align: center;
}

.w-1200 {
    width: 1200px;
}

.card.my-3 {
    width: 390px;
}

.card {
    border-radius: 0.5rem !important;
    overflow: hidden;
}

.d-flex {
    display: flex !important;
}

ul li::marker {
  color: black;
  font-size: 1.5em;
}
