.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

.affix + .container-fluid {
      padding-top: 50px;
  }

.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
  }

.thumbnail {
  padding: 0 0 5px 0;
  border: none;
  border-radius: 0;
  background-color: #e0dcdc;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.bg-footer {
  background-color: #f2f2f2;
}

.panel {
  border: 1px solid #f4511e;
  border-radius:0;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}

.panel-heading {
  color: #fff !important;
  background-color: #f4511e !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-body {
  color: #aaa;
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  color: #aaa;
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}

body {
    font-family: "Lato", sans-serif
}

ul li::marker {
  color: black;
  font-size: 1.5em;
}

iframe {
  display: block;
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
